<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <logger name="org.eclipse.jetty" level="INFO"/>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="sx.blah.discord.Discord4J" level="INFO"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.quartz" level="WARN"/>
  
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MM-dd-yy HH:mm:ss.SSS} [%-5level] [%logger] - %msg%n</pattern>
    </encoder>
  </appender> 
  
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>C:/users/henbo/logs/finances/finances.log</file>
	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{MM-dd-yy HH:mm:ss.SSS} [%-5level] [%logger] - %msg%n</pattern>
	</encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>C:/users/henbo/logs/finances/finances.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>  
  
  <root level="DEBUG">
    <appender-ref ref="stdout"/>
  </root>
</configuration>