body {
	font-size: 16px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.5em;
}

input.form-control, textarea.form-control {
	border-radius: 0px;
}

.well {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #fafafb;
}

.well, .alert, .btn, .modal-content {
	border-radius: 0px;
}

.modal-content {
	border: 1px solid #88888a;
}

.bill-detail .bill-name {
	margin-top: 10px;
	margin-bottom: 10px;
}

.bill-detail .command-block .command {
	margin-bottom: 8px;
}

.alert {
	border-width: 0px;
	color: #ffffff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.alert-success {
	background: #049372;
}

.alert-danger, .alert-error {
	background: #c91f37;
}

.alert-info {
	background: #4d8fac;
}

.alert-warning, .alert-warn {
	background: #e08a1e;
}

.bill-grid a.bill-link {
	color: inherit;
	text-decoration: inherit;
}

.bill-grid .bill-grid-item {
    background: #fafafa;
    border: 1px solid #f7f7f7;
}

.bill-grid .bill-grid-item:hover {
	background: #f7f7f7;
	border-solid: #f4f4f4;
	cursor: pointer;
}

#bill-detail-modal .data-item {
	margin-bottom: 10px;
}

#bill-detail-modal .data-item .label {
	color: #686868;
	text-transform: uppercase;
	padding: 0px 0px;
	font-weight: normal;
	font-size: 0.65em;
}

#bill-detail-modal .data-item .value {
	
}